/** ELEMENT-UI様式 */

/* ========== 表格相关 ========== */
.el-tag {
  margin-left: 3px
}

thead .el-table__cell {
  background-color: #753a95 !important;
  color: white
}

.el-table--striped .el-table__body tr.el-table__row--striped td.el-table__cell {
  background: #e1e7ce6e;
}

.el-table__body .el-table__cell {
  padding: 2px 0px 0px 0px !important;
}

.el-table .cell {
  overflow: clip !important;
  line-height: normal !important;
}

/* 对话框主体没有间隔 */
.el-dialog__body {
  padding: 0px 0px 0 0 !important
}

.el-table__body {
  font-size: 14px
}

.el-form-item__label {
  width: 150px;
}

.el-descriptions-item__label.is-bordered-label {
  font-weight: 700;
  color: #1f3f81;
  background: #caffec;
}

.el-descriptions .is-bordered .el-descriptions-item__cell {
  border: 1px solid #2e3952;
}

.el-descriptions__body .el-descriptions__table .el-descriptions-item__cell {
  line-height: 1
}

/* 输入框 */
.el-input,.el-select{
  min-width:235px!important;
}

.el-select__wrapper {
  height:35px;
}