.fehCard {
  display: inline-block;
  margin: 8px 5px 0px 0px;
  width: 450px;
  height: 220px;
  background-image: linear-gradient(136deg, #ebebeb, #c8c4dd);
  border-radius: 15px;
  box-shadow: 8px 8px 13px 0px rgb(108 87 87 / 44%), 0 0 15px rgb(96 129 151 / 86%);
  border: solid 1px darkslateblue;
}

.fehCard:hover {
      transform: translateY(-2px) scale(1.01);
      box-shadow: 0 10px 40px rgba(0, 255, 255, 0.8);
    }

.fehCard>table {
  padding: 2px 0px 0px 5px;
  width: 100%;
}

/* 头像容器 */
tr> .faceImg {
  width: 100px;
  height:100px;
  position: relative;
  border:none
}

/* 头像 */
tr>.faceImg>img {
  width: 95%;
    height: auto;
    background-color: #d3dbca80;
    position: absolute;
    top: 5px;
}
/* 头像框 */
tr> .faceImg:after {
  content: "";
  position: absolute;
  top: 0px;
  left: -5px;
  width: 110%;
  height: 110%;
  background: url(faceBorder.png)no-repeat;
  background-size: 100%;
}

.iconTdImg {
  width: 25px
}

.infoStr {
  height: 20px
}

.infoStr>span {
  position: absolute
}

.title {
  background-image: linear-gradient(356deg, #071401ad, #18460699);
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  font-style: italic;
  color: aliceblue;
  margin-left: 10px;
  height:30px
}

.weaponName{
	position: relative!important;
    margin-left: 10px;
}

.rarityStar {
  width: 25px;
  height: 25px;
  z-index: 1;
}

.rarity {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: grid;
  grid-template-columns: repeat(5, 12px);
}

.infoTr {
  position: relative;
  top: -10px;
}

.infoTr>td {
  height: 20px;
}