.el-body {
  padding: 8px!important;
}

.el-dialog__body {
  background: url(http://localhost:5173/01_feh/backgound_v.jpg)no-repeat;
  height: 65rem;
}

/* 立绘区域 */
#heroIllustration {
  position: absolute;
  top: 6rem;
  left: -10px;
}



/* 具体信息区域 */
#heroStatusArea {
  background: url(http://localhost:5173/01_feh/bk_fe_board.png) no-repeat;
  background-size: 40rem 36rem;
  width: 100%;
  height: 570px;
  position: absolute;
  bottom: 15px;
  left: 5rem
}

/* 称号和名称区域 */
#titleArea {
  height: 13rem;
  margin-top: 1.4rem;
}

/* 称号和名称区域-文字 */
#titleArea label {
  display: grid;
  padding-left: 7rem;
  padding-top: 2rem;
  text-shadow: #003 5px 5px 8px;
  font-size: 1.4rem;
  font-weight: bolder;
  color: white;
}

/* 行 */
.statusAndSkillRow {
  height: 2.5rem;
  font-size: 1.1rem;
  position: relative;
  width: 35rem
}

/* 值 */
.statusAndSkillRow .value {
  padding-left: 4rem;
  color: yellow;
}

.statusAndSkillRow .title {
  padding-left: 14rem;
  color: white;
}

/* 下方区域 */
#bottomBtnArea {
  position: fixed;
  top: 88rem;
  left: 30rem;
}

#heroIllustration>img {
  width: 100%;
}

.statusAndSkillRow>img {
  width: 35px;
  height: 35px
}

.statusAndSkillRow>img,
.statusAndSkillRow>label {
  display: inline-block
}

/* 按钮部分 */
.cntlBtn {
  position: absolute;
  opacity: 0.7;
  width: 80px;
  height: 80px;
  z-index: 100
}

.preBckBtn {
  top: 50%
}

.cntlBtn>img {
  width: 100%;
  height: 100%;
}

.cntlBtn:hover {
  transform: translateY(-2px) scale(1.01);
  opacity: 1;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid #ccc;
  border-top-color: #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}